rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }

    match /globalChat/{messageId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow update, delete: if isOwner(resource.data.uid);
    }

    match /globalTyping/{userId} {
      allow read, write: if isSignedIn();
    }

    match /privateChats/{chatId}/messages/{messageId} {
      allow read: if isSignedIn() && (request.auth.uid in chatId.split('_'));
      allow create: if isSignedIn() && (request.auth.uid in chatId.split('_')) && request.resource.data.uid == request.auth.uid;
      allow update, delete: if isOwner(resource.data.uid);
    }

    match /conversations/{chatId} {
      allow read: if isSignedIn() && (request.auth.uid in chatId.split('_'));
      allow create: if isSignedIn() && (request.auth.uid in chatId.split('_'));
      allow update: if isSignedIn() && (request.auth.uid in chatId.split('_'));
      allow delete: if false;
    }

    match /privateTyping/{docId} {
      allow read, write: if isSignedIn();
    }

    match /moments/{momentId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow update: if isSignedIn();
      allow delete: if isOwner(resource.data.uid);
    }

    match /reports/{reportId} {
      allow create: if isSignedIn();
      allow read: if false;
    }
  }
}
